__pycache__/Bloc.cpython-38.pyc
__pycache__/Bloc.cpython-39.pyc
__pycache__/Options.cpython-38.pyc
__pycache__/Options.cpython-39.pyc
__pycache__/Parser.cpython-38.pyc
__pycache__/Scene.cpython-38.pyc
__pycache__/Scene.cpython-39.pyc
__pycache__/SceneReader.cpython-38.pyc
